*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      justify-content: space-between;
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(mainhome.png);
      background-size: cover;
      background-attachment: fixed;
      background-position: top center;
      z-index: -1;
  }
  .navbar {
  
     
      height: 70px;
      width: 100%;
      padding: 19px 21px;
      background-color: purple;
      position: fixed;
      font-weight:bolder;
     
  }
  
  
  .navbar .nav-header {
      display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-top: -7px;
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .navbar .nav-links .loginBtn {
          display: inline-block;
          padding: 5px 15px;
          margin-left: 20px;
          font-size: 17px;
          color: rgb(9, 14, 90);
   }
  .navbar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 600;
    color: white;
  }
  /* Hover effects */
      .navbar .nav-links a:hover {
          background-color: royalblue;
      }
  
  .mid {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  
  
      .mid p {
          color: white;
          font-size: 1.3rem;
          margin-bottom: 1.1rem;
      }
  
      .mid h2 {
          color: white;
          font-size: 1rem;
          position: center;
      }
  
      .mid .btn {
          margin-top: 2rem;
      }
  
          .mid .btn a {
              text-decoration: none;
              text-transform: uppercase;
          }
  
              .mid .btn a.simple {
                  color: white;
                  font-weight: 500;
                  padding: 0.9rem 1.6rem;
              }
  
                  .mid .btn a.simple:hover {
                      color: #ff5733;
                  }
  
  
              .mid .btn a.border {
                  color: #ff5733;
                  border: 1px solid #ff5733;
                  font-weight: 500;
                  padding: 0.9rem 1.6rem;
                  border-radius: 3px;
              }
  
                  .mid .btn a.border:hover {
                      background: #fff;
                      border: 1px solid #fff;
                      color: #ff5733;
                  }
                  <br>
                  <br>
                  <br>
  /* About Section */
  #about .about {
      flex-direction: column-reverse;
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 20px;
  }
  
  #about .col-left {
      width: 250px;
      height: 360px;
  }
  
  #about .col-right {
      width: 100%;
  }
  
      #about .col-right h2 {
          font-size: 9.8rem;
          font-weight: 500;
          letter-spacing: 77rem;
          margin-bottom: 56px;
      }
  
      #about .col-right p {
          margin-bottom: 20px;
      }
  
      #about .col-right .cta {
          color: black;
          margin-bottom: 50px;
          padding: 10px 20px;
          font-size: 2rem;
      }
  
  #about .col-left .about-img {
      height: 100%;
      width: 100%;
      position: relative;
      border: 10px solid white;
  }
  
      #about .col-left .about-img::after {
          content: '';
          position: absolute;
          left: -33px;
          top: 19px;
          height: 98%;
          width: 98%;
          border: 7px solid crimson;
          z-index: -1;
      }
  /* End About Section */
  
  /* contact Section */
  #contact .contact {
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      width: 90%;
  }
  
  #contact .contact-items {
      /* max-width: 400px; */
      width: 100%;
  }
  
  #contact .contact-item {
      width: 80%;
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      padding: 30px;
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 0px 18px 0 #0000002c;
      transition: 0.3s ease box-shadow;
  }
  
      #contact .contact-item:hover {
          box-shadow: 0px 0px 5px 0 #0000002c;
      }
  
  #contact .icon {
      width: 70px;
      margin: 0 auto;
      margin-bottom: 10px;
  }
  
  #contact .contact-info h1 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 5px;
  }
  
  #contact .contact-info h2 {
      font-size: 1.3rem;
      line-height: 2rem;
      font-weight: 500;
  }
  /*End contact Section */
  
  /* Footer */
  #footer {
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }
  
      #footer .footer {
          min-height: 200px;
          flex-direction: column;
          padding-top: 50px;
          padding-bottom: 10px;
      }
  
      #footer h2 {
          color: white;
          font-weight: 500;
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          margin-top: 10px;
          margin-bottom: 10px;
      }
  
      #footer .social-icon {
          display: flex;
          margin-bottom: 30px;
      }
  
      #footer .social-item {
          height: 50px;
          width: 50px;
          margin: 0 5px;
      }
  
          #footer .social-item img {
              filter: grayscale(1);
              transition: 0.3s ease filter;
          }
  
          #footer .social-item:hover img {
              filter: grayscale(0);
          }
  
      #footer p {
          color: white;
          font-size: 1.3rem;
      }
  /* End Footer */
  
  /* Keyframes */
  @keyframes hamburger_puls {
      0% {
          opacity: 1;
          transform: scale(1);
      }
  
      100% {
          opacity: 0;
          transform: scale(1.4);
      }
  }
  
  @keyframes text_reveal_box {
      50% {
          width: 100%;
          left: 0;
      }
  
      100% {
          width: 0;
          left: 100%;
      }
  }
  
  @keyframes text_reveal {
      100% {
          color: white;
      }
  }
  
  @keyframes text_reveal_name {
      100% {
          color: crimson;
          font-weight: 500;
      }
  }
  /* End Keyframes */
  
  /* About Section */
   .about {
      flex-direction: column-reverse;
      text-align: center;
      max-width: 12px;
      margin: 0 auto;
      padding: 10px 20px;
  }
  
  .about .col-left {
      width: 25px;
      height: 360px;
  }
  
  .about .col-right {
      width: 10%;
  }
  
      #about .col-right h2 {
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          margin-bottom: 10px;
      }
  
      #about .col-right p {
          margin-bottom: 2px;
      }
  
      #about .col-right .cta {
          color: black;
          margin-bottom: 50px;
          padding: 10px 20px;
          font-size: 2rem;
      }
  
  #about .col-left .about-img {
      height: 100%;
      width: 100%;
      position: relative;
      border: 10px solid white;
  }
  
      #about .col-left .about-img::after {
          content: '';
          position: absolute;
          left: -3px;
          top: 0px;
          height: 98%;
          width: 98%;
          border: 7px solid crimson;
          
      }
  /* End About Section */
  
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
  
  @media (max-width:700px) {
  
  
  
      .navbar .nav-btn {
          display: inline-block;
          position: absolute;
          top: 0px;
          right: 0px;
      }
  
          .navbar .nav-btn label {
              display: inline-block;
              width: 80px;
              height: 70px;
              padding: 25px;
          }
  
              .navbar .nav-btn label span {
                  display: block;
                  height: 10px;
                  width: 25px;
                  border-top: 3px solid #eee;
              }
  
              .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
                  background-color: rgb(9, 14, 90);
                  transition: all 0.5s ease;
              }
  
      .navbar .nav-links {
          position: absolute;
          display: block;
          text-align: center;
          width: 50%;
          background-color: rgb(9, 14, 90);
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 70px;
          right: 0px;
      }
  
          .navbar .nav-links a {
              display: block;
          }
  
      /* when nav toggle button not checked */
      .navbar #nav-check:not(:checked) ~ .nav-links {
          height: 0px;
      }
  
      /* when nav toggle button is checked */
      .navbar #nav-check:checked ~ .nav-links {
          height: calc(100vh - 70px);
          overflow-y: auto;
      }
  
      .navbar .nav-links .loginBtn {
          padding: 10px 40px;
          margin: 20px;
          font-size: 18px;
          font-weight: bold;
          color: rgb(9, 14, 90);
      }
      /* Responsive dropdown code */
      .navbar .nav-links .dropdown, .navbar .nav-links .dropdown2 {
          float: none;
          width: 100%;
      }
  
      .navbar .nav-links .drop-content, .navbar .nav-links .drop-content2 {
          position: relative;
          background-color: rgb(220, 220, 250);
          top: 0px;
          left: 0px;
      }
          /* Text color */
          .navbar .nav-links .drop-content a {
              color: rgb(9, 14, 90);
          }
  }
  
  /* Dropdown menu CSS code */
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .drop-content, .drop-content2 {
      display: none;
      position: absolute;
      background-color: #1b4cd3;
      min-width: 120px;
      font-size: 16px;
      top: 34px;
      z-index: 1;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
      display: block;
  }
  /* drondown links */
  .drop-content a {
      padding: 12px 10px;
      border-bottom: 1px solid rgb(197, 197, 250);
      display: block;
      transition: all 0.5s ease !important;
  }
  
  .dropBtn .drop-content a:hover {
      background-color: rgb(230, 230, 230);
  }
  
  .dropdown:hover .dropBtn, .dropdown2:hover .dropBtn2 {
      background-color: rgba(0, 0, 0, 0.3);
  }
  
  .dropdown2 .drop-content2 {
      position: absolute;
      left: 120px;
      top: 126px;
  }
  
  .dropBtn2 i {
      margin-left: 15px;
  }
  
  }
      .mid p {
          font-size: 0.9rem;
          margin-bottom: 0.7rem;
      }
  
      .mid h2 {
          font-size: 1.5rem;
      }
      <br>
  
      .mid .btn {
          margin-top: 0.7rem;
      }
  
          .mid .btn a {
              font-size: 0.7rem;
          }
  
              .mid .btn a.simple {
                  padding: 0.7rem 1.4rem;
                  margin-bottom: 7px;
              }
  
  
  
              .mid .btn a.border {
                  padding: 0.7rem 1.4rem;
              }
  
  
  /* About Section */
  #about .about {
      flex-direction: column-reverse;
      text-align: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 20px;
  }
  
  #about .col-left {
      width: 250px;
      height: 360px;
  }
  
  #about .col-right {
      width: 100%;
  }
  
      #about .col-right h2 {
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.2rem;
          margin-bottom: 10px;
      }
  
      #about .col-right p {
          margin-bottom: 20px;
      }
  
      #about .col-right .cta {
          color: black;
          margin-bottom: 50px;
          padding: 10px 20px;
          font-size: 2rem;
      }
  
  #about .col-left .about-img {
      height: 100%;
      width: 100%;
      position: relative;
      border: 10px solid white;
  }
  
      #about .col-left .about-img::after {
          content: '';
          position: absolute;
          left: -33px;
          top: 19px;
          height: 98%;
          width: 98%;
          border: 7px solid crimson;
          z-index: -1;
      }
  /* End About Section */
  @media (max-width: 496px) {
  }
  
  @media (max-width: 496px) {
      .mid p {
          margin-bottom: 0.8rem;
      }
  
      .mid h2 {
          font-size: 1.1rem;
      }
  
      .mid .btn {
          margin-top: 0.7rem;
      }
    
  
          .mid .btn a {
              font-size: 0.7rem;
          }
  
  
         
  
              .mid .btn a.border {
                  padding: 0.1rem 1.1rem;
              }
  }