@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* Header section */


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

	#header .header {
		min-height: 12vh;
		background-color: rgba(31, 30, 30, 0.24);
		transition: 0.3s ease background-color;
	}

	#header .nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		max-width: 1700px;
		padding: 0 10px;
	}


#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: blue;
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */
/* End Header section */



/* Hero Section */
#hero {
	background-image: url('home2.jpg');
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
	
	#hero p:nth-child(3) span {
		animation-delay: 2.5s;
	}

.mid {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}



	.mid p {
		color: white;
		font-size: 1.6rem;
		margin-bottom: 1.5rem;
	}

	.mid h2 {
		color: white;
		font-size: 1.8rem;
		position: center;
	}
	.mid .btn {
		margin-top: 4rem;
	}

		.mid .btn a {
			text-decoration: none;
			text-transform: uppercase;
		}

			.mid .btn a.simple {
				color: white;
				font-weight: 500;
				padding: 0.9rem 1.6rem;
			}

				.mid .btn a.simple:hover {
					color: #ff5733;
				}


			.mid .btn a.border {
				color: #ff5733;
				border: 1px solid #ff5733;
				font-weight: 500;
				padding: 0.9rem 1.6rem;
				border-radius: 9px;
			}

				.mid .btn a.border:hover {
					background: #fff;
					border: 1px solid #fff;
					color: #ff5733;
				}


.whatsapp{
	width: 60px;
	height: 53px;
	position: fixed;
	right: 2px;
	bottom: 0px;
}


/* End Hero Section */




/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 14px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}

.learn more {
	background: rgb(255, 255, 255);
	border: 1px solid #fff;
	color: blueviolet;
}
/* End About Section */


/* Contact Section */
.contact-wrap {
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	padding: 40px 30px;
}


.contact-in h1 {
	font-size: 24px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

	.contact-in h2 i {
		font-size: 16px;
		width: 40px;
		height: 40px;
		margin-right: 10px;
		background: #f5f5f5;
		color: rgb(0, 0, 0);
		border-radius: 50px;
		line-height: 40px;
		text-align: center;
	}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-in ul {
	padding: 0;
	margin: 0;
}

	.contact-in ul li {
		list-style: none;
		display: inline-block;
		margin-right: 5px;
		margin-top: 5px;
	}

		.contact-in ul li a {
			display: block;
			width: 30px;
			height: 30px;
			text-align: center;
			background: rgb(173, 52, 52);
			border-radius: 50px;
		}

			.contact-in ul li a i {
				font-size: 14px;
				line-height: 30px;
				color: #000;
			}

.contact-in form {
	width: 100%;
	height: auto;
}

.contact-in-input {
width: 100%;
height: 40px;
margin-bottom: 20px;
border: 1px solid #9c33ff;
outline: none;
padding-left: 5px;
background: transparent;
color: green;
font-size: 12px;
font-weight: 300;
font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
	color: #ff5733;
}

.contact-in-textarea {
width: 100%;
height: 140px;
margin-bottom: 20px;
border: 1px solid #f5f5f5;
outline: none;
padding-top: 5px;
padding-left: 5px;
background: transparent;
color: #ff5733;
font-size: 12px;
font-weight: 300;
font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: #ff5733;
}

.contact-in-btn {
width: 100%;
height: 40px;
border: 1px solid #ff5733;
outline: none;

color: blue;
font-size: 12px;
font-weight: 300;
font-family: 'Poppins', sans-serif;
cursor: pointer;
}


/* Footer */


/* End Footer */


@media screen and (max-width:1600px ) {
	.left-contact h1 {
		font-size: 30px;
	}

	.left-contact p {
		font-size: 20px;
	}

	.left-icon h3 {
		font-size: 20px;
	}
}



/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */




	/* About */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 645px;
		height: 430px;
		padding-left: 60px;
	}


	#about .about .col-left .about-img::after {
		left: -45px;
		top: 54px;
		height: 98%;
		width: 98%;
		border: 13px solid crimson;
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

		#about .col-right h1 {
			text-align: left;
		}
	/* End About */



	/* End Media Query For Tablet */

	/* Media Query For Desktop */
	@media only screen and (min-width: 1200px) {
		/* header */
		#header .hamburger {
			display: none;
		}

		#header .nav-list ul {
			position: initial;
			display: block;
			height: auto;
			width: fit-content;
			background-color: transparent;
		}

			#header .nav-list ul li {
				display: inline-block;
			}

				#header .nav-list ul li a {
					font-size: 1.0rem;
				}

			#header .nav-list ul a:after {
				display: none;
			}
		/* End header */


	}
	/* End  Media Query For Desktop */

	@media (max-width: 496px) {
		.mid p {
			margin-bottom: 1.1rem;
		}

		.mid h2 {
			font-size: 1.2rem;
		}


		.mid .btn {
			margin-top: 0.9rem;
		}


			.mid .btn a {
				font-size: 0.7rem;
			}




				.mid .btn a.border {
					padding: 0.1rem 1.4rem;
				}
	}


	
}
